.thumbnail-grabber-prevent-scroll {
  overflow: hidden;
}

@keyframes notification {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  5% {
    opacity: 1;
    transform: translateX(0px);
  }
  95% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-10px);
  }
}
.thumbnail-grabber-notification {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: #ffffff;
  max-width: 250px;
  z-index: 10000;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  animation: notification 5s forwards;
  transition: all 0.24s cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-property: transform, opacity; */
  font-family: Rubik, Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  border-radius: 3px;
}

.thumbnail-grabber-notification-removing {
  animation: none;
  opacity: 0;
  transform: translateX(-10px);
}

.thumbnail-grabber-notification > p:first-child {
  position: absolute;
  font-size: 16px;
  top: 0px;
  right: 0px;
  margin: 0px;
  cursor: pointer;
  text-align: center;
  padding-right: 2px;
  line-height: 22px;
  height: 22px;
  width: 22px;
  font-family: Arial, sans-serif;
  opacity: 0.6;
  transform: scaleX(1.2);
}
.thumbnail-grabber-notification > img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.thumbnail-grabber-notification > p:last-child {
  font-size: 13px;
  margin: 0px;
}

#thumbnail-grabber {
  display: flex;
  position: fixed;
  box-sizing: border-box;
  z-index: 10000;
  padding: 40px;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: Rubik, Roboto, Arial, sans-serif;
}

#thumbnail-grabber-card {
  background-color: #ffffff;
  padding: 27px;
  max-width: 730px;
  margin: auto;
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.23);
  border-radius: 3px;
}

#thumbnail-grabber img {
  max-width: 100%;
  max-height: 500px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: block;
  margin: auto;
}

#thumbnail-grabber-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#thumbnail-grabber-buttons div {
  cursor: pointer;
  padding: 10px 0px;
  margin: 0px 12px;
  width: 120px;
  padding: 12px 0px;
  position: relative;
}

#thumbnail-grabber-buttons div:first-child {
  margin-left: 0px;
}
#thumbnail-grabber-buttons div:last-child {
  margin-right: 0px;
}

#thumbnail-grabber-buttons div p {
  color: #ffffff;
  user-select: none;
  text-align: center;
  position: relative;
  z-index: 1;
  font-size: 14px;

  /* fix for soundcloud */
  line-height: initial;
  margin-block-start: initial;
  margin-block-end: initial;
  margin-inline-start: initial;
  margin-inline-end: initial;
}

#thumbnail-grabber-buttons div::before {
  content: "";
  border-radius: 3px;
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #000000;
  opacity: 0.8;
  transform: skew(-10deg, 0deg);
  transition: 0.24s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, opacity;
}

#thumbnail-grabber-buttons div:hover::before {
  transform: skew(-10deg, 0deg) translateZ(0px) scaleY(1.1);
  opacity: 1;
}
